html {
  margin-left: 150px;
}

body {
    
    display: flex;
    margin: 0;
    flex-direction: column;
    height: auto;
    width: 969px;
    margin-left: 1;
}

.travelForm-container {
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    font-size: larger;
    border-style: solid;
    max-width: 3;
    padding-left: 24px;
    background-color: ghostwhite;
  
}

.formInputs {
  max-width: 130px;
  border: 3px solid currentColor;
  border-radius: 6px;
  padding: 9px;
  font-family: fantasy;
  
}

.radioButtons  {
  
    margin-right: 925px;
}

.checkedInputs {
  margin-right: 930px;
  height: 16px;
}

#button {
  margin: 25px;
  background-color: floralwhite;
  font-family: fantasy;
  font-size: 1;
}

#title {
  align-self: center;
  text-decoration-line: underline;
}

    